<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<input type="checkbox" id="checked" name="" value="" <%= @task.completed %>>
<label for="checked"> The task is completed</label>
<p><a href=""><%= link_to "Back to list", tasks_path() %></a></p>
